
<h2><%= I18n.t('plugins.reftracker_offers.label') %></h2>

<%= render_aspace_partial :partial => "shared/form_messages" %>

<p><%= I18n.t('plugins.reftracker_offers.results.closed_offers') %></p>

<%= form_tag({:controller => :reftracker_offers, :action => :import}) do %>

<button type="submit" disabled="true" id="rto-submit" class="btn btn-sm btn-primary"><%= I18n.t("plugins.reftracker_offers.import_button_label") %></button>

<br/><br/>

<% if page = offers.first %>
  <% current_page = page['search_page'].to_i %>
  <% last_page = (page['search_total'].to_f / page['search_page_size'].to_f).ceil %>
  <p>
    Showing page <strong><%= current_page %></strong> of <strong><%= last_page %></strong>
  </p>
<% end %>

<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.question_no') %></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.client_name') %></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.bib_udf_tb03') %></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.bib_title') %></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.question_text') %></th>
    <th><%= I18n.t('plugins.reftracker_offers.results.question_closed_datetime') %></th>
  </tr>

  <% offers.each do |offer| %>
    <tr>
      <td class="rto-td">
        <input type="checkbox" name="offer_<%= offer['question_no'] %>" onchange="reftrackerCheckboxClick();"/>
      </td>
      <td class="rto-td rto-nowrap">
        <%= offer['question_no'] %>
      </td>
      <td class="rto-td rto-nowrap">
        <%= offer['client_name'] %>
      </td>
      <td class="rto-td rto-nowrap">
        <%= offer['bib_udf_tb03'] %>
      </td>
      <td class="rto-td">
        <%= offer['bib_title'] %>
      </td>
      <td class="rto-td">
        <%= offer['question_text'] %>
      </td>
      <td class="rto-td rto-nowrap">
        <%= offer['question_closed_datetime'].split[0] %>
      </td>
    </tr>
  <% end %>

</table>

<% end %>

<% if page = offers.first %>
  <% current_page = page['search_page'].to_i %>
  <% last_page = (page['search_total'].to_f / page['search_page_size'].to_f).ceil %>
  <% if last_page > 1 %>

    <div class="pagination-centered">
      <ul class="pagination pagination-sm">
        <% if current_page > 1 %>
          <li>
            <%= link_to I18n.t("pagination.previous").html_safe, {:controller => :reftracker_offers, :action => :index, :page => current_page - 1} %>
          </li>
        <% else %>
          <li class="disabled"><a href="#"><%= I18n.t("pagination.previous").html_safe %></a></li>
        <% end %>

        <% if last_page > 1 %>
          <% (1..last_page).each do |p| %>
            <% if p == current_page %>
              <li class="disabled"><a href="#"><%= p %></a></li>
            <% else %>
              <li>
                <%= link_to p, {:controller => :reftracker_offers, :action => :index, :page => p} %>
              </li>
            <% end %>
          <% end %>
        <% end %>

        <% if current_page < last_page %>
          <li>
            <%= link_to I18n.t("pagination.next").html_safe, {:controller => :reftracker_offers, :action => :index, :page => current_page + 1} %>
          </li>
        <% else %>
          <li class="disabled"><a href="#"><%= I18n.t("pagination.next").html_safe %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>



<script>
  $('#rto-submit').prop('disabled', true);
  $('input[type=checkbox][name^=offer_]').prop('checked', false);

  var reftrackerCheckboxClick = function() {
    if ($('input[type=checkbox][name^=offer_]').is(':checked')) {
      $('#rto-submit').prop('disabled', false);
    } else {
      $('#rto-submit').prop('disabled', true);
    }
  };
</script>

