
<h2><%= I18n.t('plugins.reftracker_offers.label') %></h2>

<%= render_aspace_partial :partial => "shared/form_messages" %>

<% if offer_number %>
  <% if error %>
    <p class="alert alert-danger"><%= I18n.t('plugins.reftracker_offers.results.offer_error_description', :offer_number => offer_number) %>: <%= error %></p>
  <% else %>
    <p class="alert alert-info"><%= I18n.t('plugins.reftracker_offers.results.found_offer_description', :offer_number => offer_number) %></p>
  <% end %>
<% else %>
  <% if error %>
    <p class="alert alert-danger"><%= I18n.t('plugins.reftracker_offers.results.offers_error_description') %>: <%= error %></p>
  <% else %>
    <p class="alert alert-info"><%= I18n.t('plugins.reftracker_offers.results.offers_description') %></p>
  <% end %>
<% end %>

<%= form_tag({:controller => :reftracker_offers, :action => :index}, :method => :get) do %>

  <input type="text" name="offer_number" placeholder="Enter an offer number" value="<%= offer_number %>">
  <button type="submit" id="rto-offer-submit" class="btn btn-sm btn-primary"><%= I18n.t("plugins.reftracker_offers.find_button_label") %></button>

  <% if offer_number %>
    <a type="cancel" id="rto-offer-cancel" href="<%= url_for(:controller => :reftracker_offers, :action => :index) %>" class="btn btn-sm btn-default"><%= I18n.t("plugins.reftracker_offers.cancel_find_button_label") %></a>
  <% end %>
<% end %>

<hr/>

<p><%= I18n.t('plugins.reftracker_offers.results.results_current_at', :time => Time.now.rfc2822) %></p>

<p><%= I18n.t('plugins.reftracker_offers.results.offers_instruction') %></p>

<hr/>

<%= form_tag({:controller => :reftracker_offers, :action => :import}) do %>

  <button type="submit" disabled="true" id="rto-submit" class="btn btn-sm btn-primary"><%= I18n.t("plugins.reftracker_offers.import_button_label") %></button>

  <hr/>

  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th></th>
      <th><%= I18n.t('plugins.reftracker_offers.results.question_no') %></th>
      <th><%= I18n.t('plugins.reftracker_offers.results.client_name') %></th>
      <th><%= I18n.t('plugins.reftracker_offers.results.bib_udf_tb03') %></th>
      <th><%= I18n.t('plugins.reftracker_offers.results.bib_title') %></th>
      <th><%= I18n.t('plugins.reftracker_offers.results.question_text') %></th>
    </tr>

    <% offers.each do |offer| %>
      <tr>
        <td class="rto-td">
          <input type="checkbox" name="offer_<%= offer['question_no'] %>" onchange="reftrackerCheckboxClick();"/>
        </td>
        <td class="rto-td rto-nowrap">
          <%= offer['question_no'] %>
        </td>
        <td class="rto-td rto-nowrap">
          <%= offer['client_name'].html_safe %>
        </td>
        <td class="rto-td rto-nowrap">
          <%= offer['bib_udf_tb03'] %>
        </td>
        <td class="rto-td rto-title">
          <%= offer['bib_title'].html_safe %>
        </td>
        <td class="rto-td">
          <% if offer['short_description'] %>
            <%= offer['short_description'].html_safe %>
            ...
            <a class="pull-right btn btn-sm btn-default rto-more-btn" onclick="reftrackerMoreButtonClick(this);">View full description</a>
            <div data-offer="<%= offer['question_no'] %>" class="rto-full-description-pane">
              <%= offer['question_text'].html_safe %>
            </div>
          <% else %>
            <%= offer['question_text_stripped'].html_safe %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<script>
  $('#rto-submit').prop('disabled', true);
  $('input[type=checkbox][name^=offer_]').prop('checked', false);

  var reftrackerCheckboxClick = function() {
    if ($('input[type=checkbox][name^=offer_]').is(':checked')) {
      $('#rto-submit').prop('disabled', false);
    } else {
      $('#rto-submit').prop('disabled', true);
    }
  };

  var reftrackerMoreButtonClick = function(btn) {
    var fullDesc = btn.nextElementSibling;
    AS.openQuickModal(fullDesc.dataset.offer + ' full description', fullDesc.innerText);
  };
</script>

